# Build
/build/
CMakeCache.txt
CMakeFiles/
cmake-build-*/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python venv
.venv/

# Data for equity alpha project
Systematic_Equity_Alpha_Research_Platform/data/raw/
Systematic_Equity_Alpha_Research_Platform/data/clean/
